@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
}

.banner,
.navbar {
  padding: 40px 70px;
  background-color: #f7eab8;
  text-align: center;
}

.navbar.icon {
  flex-grow: 1;
}

.navbar-page {
  flex-grow: 2;
}

.navbar-sosmed {
  flex-grow: 1;
}

.navbar-page li,
.navbar-sosmed li {
  display: inline;
}

.navbar-page ul {
  justify-content: center;
  text-align: center;
  display: flex;
}

.navbar-page li {
  margin: 0pc 20px;
}

.navbar-page a {
  text-decoration: none;
  color: black;
}

.fa-brands {
  margin-right: 5px;
}

.banner {
  line-height: 350%;
  background-image: url("/public/assets/image/logo\ zira.png");
  width: 100%;
}

.name {
  letter-spacing: 3px;
  font-size: 50px;
  font-weight: 1000;
}

.description {
  opacity: 0.5;
  font-size: 15px;
  line-height: 250%;
}

/*New style css*/
.about {
  background-color: #130e0b;
  color: #000000;
  padding: 70px;
}

.banner {
  background-color: #ffffff;
  text-align: center;
  padding: 50px;
}

.banner .name {
  font-size: 24px;
  font-weight: bold;
  color: #161515;
}

.banner .description {
  font-size: 16px;
  color: #121111;
}

.about {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  padding: 20px;
  background-color: #bdbdbd;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.about h1 {
  color: #333;
  margin-bottom: 10px;
}

.about p {
  color: #666;
}

.about-experience-list table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.about-experience-list th,
.about-experience-list td {
  padding: 10px;
  border: 1px solid #333;
}

.about-experience-list th {
  background-color: #f2f2f2;
  text-align: center;
}

.about-experience-list td {
  text-align: left;
}
